/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    text-align: center;
}

/* Form Styling */
form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

legend {
    font-size: 1.2em;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    /* Makes sure padding doesn't affect overall width */
}

input[type="submit"],
button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #005A9C;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

input[type="submit"]:hover,
button:hover {
    background-color: #003D73;
}

#back-to-selection {
    background-color: #c4c4c4;
    margin-right: 10px;
}

#back-to-selection:hover {
    background-color: #a2a2a2;
}


.input-error {
    border: 2.5px solid red !important ;
    
}


.error-message {
    color: red;
    /* Red text for error messages */
    display: none;
    /* Initially hidden */
}


/* Small screens (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    form {
        width: 100%;
        padding: 10px;
    }
}